<div class="container"><div class="jumbotron main"><h1>NetworkService</h1><p>"You can speak and be silent, but the system will absorb you"</p><small class="pull-right">Diomon Kartooso (NetService CEO)</small></div></div>