//
   Created by kimduk on 16.08.15.

.containder
    .well
        form.form-horizontal(name="addUidForm")
            filedset
                legend New UID Information
                .form-group
                    label.col-md-2.control-label(for="uid") UID
                    .col-md-6
                        input.form-control(name="newUid", type="number", placeholder="UID", ng-model="newUid", required)
                    .col-md-1
                        button.btn.btn-sm.btn-success(ng-click="generateUid()", type="button") Generate uid
                .form-group
                    label.col-md-2.control-label(for="password") Password
                    .col-md-6
                        input.form-control(name="password", type="text", placeholder="Password", ng-model="password", required)
                    .col-md-1
                        button.btn.btn-sm.btn-success(ng-click="generatePwd()", type="button") Generate Pwd
                .form-group
                    label.col-md-2.control-label(for="avatar") Avatar URL
                    .col-md-6
                        input.form-control(name="avatar", type="text", placeholder="Avatar url", ng-model="avatar")
                .form-group
                    .col-md-6.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="addUid()", type="button", ng-disabled="addUidForm.$invalid") Create
                            | &nbsp;
                            a.btn.btn-default(href="/") Cancel