//
   Created by kimduk on 16.08.15.

.container
    table.table
        tr(ng-repeat="user in users")
            td
                .col-md-2.list-avatar
                    img(src="{{ user.avatar }}", ng-show="{{ !!user.avatar }}", class="img-rounded", alt="{{ user.uid }}", title="{{ user.uid }}")
                    img(src="http://www.kazvideo.kz/img/default-avatar.png", ng-hide="{{ !!user.avatar }}", class="img-rounded", alt="{{ user.uid }}", title="{{ user.uid }}")
                .col-md-10.text-center {{ user.uid }}