<!--Created by kimduk on 16.08.15.
--><div class="container"><table class="table"><tr ng-repeat="user in users"><td><div class="col-md-2 list-avatar"><img src="{{ user.avatar }}" ng-show="{{ !!user.avatar }}" alt="{{ user.uid }}" title="{{ user.uid }}" class="img-rounded"/><img src="http://www.kazvideo.kz/img/default-avatar.png" ng-hide="{{ !!user.avatar }}" alt="{{ user.uid }}" title="{{ user.uid }}" class="img-rounded"/></div><div class="col-md-10 text-center">{{ user.uid }}</div></td></tr></table></div>