body {
  padding-top: 61px;
}
.main {
  background-image: url("/img/ns-logo.png");
  background-position-x: center;
  background-position-y: -64px;
  background-repeat: no-repeat;
}
.content {
  margin-top: 10px;
}
.navbar.navbar-inverse.navbar-fixed-top {
  height: 65px;
}
.navbar-header a.navbar-brand {
  margin-bottom: -10px;
}
.navbar-header a.navbar-brand h6 {
  color: #c6c6c6;
}
.toast-top-right {
  top: 70px;
}
.list-avatar img {
  height: 50px;
}
.nav.nav-sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}
.profile-info {
  padding: 20px;
  background-color: #f5f5f5;
}
.profile-uid {
  padding-top: 10px;
}
.profile-img {
  float: right;
}
.profile-img img {
  height: 100px;
}
.search-img img {
  height: 100px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}
footer p {
  border-top: 1px solid #c6c6c6;
  padding-top: 15px;
}
