extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") NetworkService
                    h6  Uniting people
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                div(ng-include="'/partials/account/navbar-sign-in'")
    section.content
        div(ng-view)
    .container.text-center
        b All Information about NetService
        &nbsp;
        a(href="https://www.dropbox.com/s/e0wvu5zcjqebmlp/NetworkServicedocumentation.pdf?dl=0", target="_blank") Download link
    .container.text-center
        b Documentation to NetService
        &nbsp;
        a(href="/docs/index.html", target="_blank") Documentary link
    footer.container.text-center
        p &copy; 2015 NetworkService Uniting Ltd.
