//
   Created by kimduk on 16.08.15.

.navbar-right(ng-controller="nsLoginCtrl")
    ul.nav.navbar-nav
        li(ng-show="identity.currentUser.isAdmin()")
            a(href="/admin/add-uid") Add UID
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        .form-group
            input.form-control(placeholder="Your UID", ng-model="uid")
        &nbsp
        .form-group
            input.form-control(type="password", placeholder="Your password", ng-model="password")
        &nbsp
        button.btn.btn-primary(ng-click="signin(uid, password)") Sign In
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | Welcome
                | {{identity.currentUser.uid}}
                b.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/admin/users/") User Admin
                li
                    a(href="/profile") Profile
                li
                    a(href="", ng-click="signout()") Sign Out

