//
   Created by kimduk on 17.08.15.

.container
    .row
        .col-sm-3.col-md-2.sidebar(ng-include="'/partials/account/sidebar'")
        .col-sm-9.col-md-9
            h1 User Profile
            .row.profile-info
                .col-xs-6.col-sm-3.profile-uid
                    span.text-info Your UID:
                    |  {{ identity.currentUser.uid }}
                .col-xs-6.col-xs-offset-6.col-md-3.col-md-offset-3.profile-img
                    img(src="{{ identity.currentUser.avatar }}", ng-show="{{ !!identity.currentUser.avatar }}", class="img-circle", alt="{{ identity.currentUser.uid }}", title="{{ identity.currentUser.uid }}")
                    img(src="http://www.kazvideo.kz/img/default-avatar.png", ng-hide="{{ !!identity.currentUser.avatar }}", class="img-circle", alt="{{ identity.currentUser.uid }}", title="{{ identity.currentUser.uid }}")