//
   Created by kimduk on 17.08.15.

.container
    .row
        .col-sm-3.col-md-2.sidebar(ng-include="'/partials/account/sidebar'")
        .col-sm-9.col-md-9
            h1 Search Friends
            .row.profile-info
                .col-xs-6.profile-uid
                    form.form-horizontal(name="searchUidForm")
                        filedset
                            .form-group
                                label.col-md-5.control-label(for="findUid") UID for search
                                .col-md-7
                                    input.form-control(name="findUid", type="number", placeholder="UID", ng-model="findUid", required)
                            .form-group
                                .col-md-10
                                    .pull-right
                                        button.btn.btn-primary(ng-click="searchUid()", type="button", ng-disabled="searchUidForm.$invalid") Search
                .col-xs-6.search-img(ng-show="showResult")
                    span.col-md-4.text-info Result:
                        span  {{ result.uid }}
                    .col-md-7.text-center
                        img(src="{{ result.avatar }}", ng-show="!!result.avatar", class="img-rounded", alt="{{ result.uid }}", title="{{ result.uid }}")
                        img(src="http://www.kazvideo.kz/img/default-avatar.png", ng-hide="!!result.avatar", class="img-rounded", alt="{{ result.uid }}", title="{{ result.uid }}")
                    .col-md-1
                        button.btn.btn-success.btn-sm(type="button", ng-click="addFriend()", title="Add Friendship", ng-show="{{ !friend.inviterConfirm }}")
                            span.glyphicon.glyphicon-ok-circle