<!--Created by kimduk on 17.08.15.
--><ul class="nav nav-sidebar"><li><a href="/profile">Profile</a></li><li><a href="/friends">Friends</a></li><li><a href="/friends-search">Search Freads</a></li></ul>