<!--Created by kimduk on 15.08.15.
--><div class="panel panel-primary"><div class="panel-heading text-center">Sign In</div><div class="panel-body">Inputs here</div></div><div class="panel panel-primary"><div class="panel-heading text-center">Users List</div><div class="panel-body"><div ng-repeat="user in users | filter:{deleted:0}"><div class="row"><div class="col-md-2"><img src="{{ user.avatar }}" alt="{{ user.uid }}" title="{{ user.uid }}" class="img-rounded"/></div><div class="col-md-10 text-center">{{ user.uid }}</div></div><hr/></div></div></div>