//
   Created by kimduk on 15.08.15.

.panel.panel-primary
    .panel-heading.text-center Sign In
    .panel-body Inputs here

.panel.panel-primary
    .panel-heading.text-center Users List
    .panel-body
        div(ng-repeat="user in users | filter:{deleted:0}")
            .row
                .col-md-2
                    img(src="{{ user.avatar }}", class="img-rounded", alt="{{ user.uid }}", title="{{ user.uid }}")
                .col-md-10.text-center {{ user.uid }}
            hr