//
   Created by kimduk on 15.08.15.

doctype html
html
    head
        title NetworkService - We are Uniting people
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(href="/vendor/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="/vendor/toastr/toastr.min.css", rel="stylesheet")
        link(href="/css/main.css", rel="stylesheet")
        base(href="/")
    body(ng-app="app")
        include currentUser
        block main-content
        include scripts