//
   Created by kimduk on 15.08.15.

script(type="text/javascript", src="/vendor/jquery/dist/jquery.min.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript", src="/vendor/angular/angular.min.js")
script(type="text/javascript", src="/vendor/toastr/toastr.min.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.min.js")
script(type="text/javascript", src="/js/app/app.js")
script(type="text/javascript", src="/js/app/main/nsMainCtrl.js")
script(type="text/javascript", src="/js/app/account/nsLoginCtrl.js")
script(type="text/javascript", src="/js/app/account/nsProfileCtrl.js")
script(type="text/javascript", src="/js/app/account/nsFriendsCtrl.js")
script(type="text/javascript", src="/js/app/account/nsAuth.js")
script(type="text/javascript", src="/js/app/account/nsFriends.js")
script(type="text/javascript", src="/js/app/account/nsUser.js")
script(type="text/javascript", src="/js/app/common/nsIdentity.js")
script(type="text/javascript", src="/js/app/common/nsNotifier.js")
script(type="text/javascript", src="/js/app/admin/nsUserListCtrl.js")
script(type="text/javascript", src="/js/app/admin/nsAddUidCtrl.js")